<table class="biddingTable">
    <tr class="biddingTableHeader">
        <th><div>{{>player_name name=pn.[1]}}</div></th>
        <th><div>{{>player_name name=pn.[2]}}</div></th>
        <th><div>{{>player_name name=pn.[3]}}</div></th>
        <th><div>{{>player_name name=pn.[0]}}</div></th>
    </tr>
    {{#with bidding}}
        {{#each bidding_table}}
            <tr>
                {{#each row}}
                    <td>{{>bid bid=this}}</td>
                {{/each}}
            </tr>
        {{/each}}
    </table>
    <br>
    <table id"biddingNotation">
        {{#each bidding_notation}}
            <tr>
                <td>{{{this}}}</td>
            </tr>
        {{/each}}
    {{/with}}
</table>