{{#with board}}
    <table class="dealTable">
        <tr>
            <td align="center">{{> vul_dlr_bdno bdno=bdno dlr=deal.dealer vul=vul}}</td>
            <td>
                {{> hand h=deal.hands.N}}
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                {{> hand h=deal.hands.W }}
            </td>
            <td></td>
            <td>
                {{> hand h=deal.hands.E }}
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                {{> hand h=deal.hands.S }}
            </td>
            <td></td>
        </tr>
    </table>
{{/with}}