{{#with h}}
    <table class="hand">
        <tr><td class="suit">{{> suit s=suits.S }}</td></tr>
        <tr><td class="suit">{{> suit s=suits.H }}</td></tr>
        <tr><td class="suit">{{> suit s=suits.D }}</td></tr>
        <tr><td class="suit">{{> suit s=suits.C }}</td></tr>
    </table>
{{/with}}
