<div class="hand">
    {{#with h}}
        <table>
            <tr><td><div class="suit">{{> suit s=suits.S }}</div></td></tr>
            <tr><td><div class="suit">{{> suit s=suits.H }}</div></td></tr>
            <tr><td><div class="suit">{{> suit s=suits.D }}</div></td></tr>
            <tr><td><div class="suit">{{> suit s=suits.C }}</div></td></tr>
        </table>
    {{/with}}
</div>