<div class="hand">
    {{#with h}}
        <table>
            <tr><div class="suit">{{> suit s=suits.S }}</div></tr>
            <tr><div class="suit">{{> suit s=suits.H }}</div></tr>
            <tr><div class="suit">{{> suit s=suits.D }}</div></tr>
            <tr><div class="suit">{{> suit s=suits.C }}</div></tr>
        </table>
    {{/with}}
</div>