<div id="hand">
    {{#with h}}
        <div>{{> suit s=suits.S }}</div>
        <div>{{> suit s=suits.H }}</div>
        <div>{{> suit s=suits.D }}</div>
        <div>{{> suit s=suits.C }}</div>
    {{/with}}
</div>