<!DOCTYPE html>
<html>
<head> 
    <title>Vugraph Viewer</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'>
</head>
<body>
    {{{ body }}}
</body>
</html>