<h1>{{{vu.meta.title}}}</h1>

{{#with vu}}
    {{#each games}}
        <div class="board">{{> board board=board}}</div>
        <br>
        {{#each players}}
            <div class="bidding">{{> bidding bidding=bidding pn=names}}</div>
            <br>
        {{/each}}
        <hr>
    {{/each}}
{{/with}}