<h1>{{{vu.meta.title}}}</h1>

{{#with vu}}
    {{#each games}}
        <table id="gameFrame">
            <tr>
                <td>
                    <div class="board">{{> board board=board}}</div>
                </td>
                <td>
                    <div class="bidding">{{> bidding bidding=bidding}}</div>
                </td>
            </tr>

        </table>
    {{/each}}
{{/with}}