<h1>{{{vu.meta.title}}}</h1>

{{#with vu}}
    {{#each games}}
        {{> board board=board}}
        <br>
        {{#each players}}
            {{> bidding bidding=bidding pn=names}}
            <br>
        {{/each}}
        <hr>
    {{/each}}
{{/with}}