body {
    background: rgb(248, 246, 243);
    font-family: 'Inconsolata';
    font-size: unset;
}

.dealTable, .biddingTable{
    background-color: rgb(255, 235, 193);
    border-radius: 0.1em;
    border-color: navy;
    border-style: solid;
    max-width: max-content;
    white-space: nowrap;
}

.hand{
    background-color: rgb(206, 250, 193);
    outline: 0.1em navy solid;
    min-width: 7em;
    padding: 0em;
}

.hand > tbody > tr > td{vertical-align: middle;}

.suit {
    letter-spacing: 0.2em;
    font-size: 1.2em;
    vertical-align: middle;
    line-height: 1em;
    white-space: nowrap;
    padding: 0em;
}

.spsymbol{color: navy;}
.hesymbol{color: red;}
.disymbol{color: orangered;}
.clsymbol{color: green;}
.ntsymbol{color: black;}

.spsymbol, .hesymbol, .disymbol, .clsymbol, .ntsymbol, .cardinal{
    font-size: unset;
    display: inline-block;
    width: 1em;
    text-align: center;
}

.bids, .bidsAlerted{
    width: 3em;
    height: 1.3em;
    text-align: center;
    font-size: larger;
}

.bidsAlerted{
    outline: brown solid 0.1em;
    outline-width: 0.1em;
    outline-offset: -0.1em;
}

.biddingTableHeader{background-color: rgb(216, 240, 250);}

.playerName{
    font-weight: normal;
    font-size: smaller;
    width: 4em;
    overflow: hidden;
    padding: 0em;
    text-overflow: ellipsis;
}

sup{
    vertical-align: super;
    font-size: small;
}

.vul{
    background-color: rgb(161, 14, 63);
    color: white;
}

.notvul{background-color:white;}

.vul, .notvul, .bdno, .cardinal{
    text-align: center;
    font-weight: bolder;
    border-collapse: collapse;
}

.corner{
    width: 1em;
    height: 1em;
    background-color: unset
}

.bdno{
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    background-color: thistle;
}

.recentvulist,
.recentvulist > tbody > tr > td,
.recentvulist > tbody > tr > th{
    border-collapse: collapse;
    border: 1px solid black;
}